<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.world.dao.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.hello.world.entity.Company">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="link_name" jdbcType="VARCHAR" property="linkName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="city_id" jdbcType="INTEGER" property="cityId"/>
        <result column="status" javaType="com.hello.world.enums.CompanyStatusEnum" property="status"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>

    <resultMap id="companyDtoMap" type="com.hello.world.dto.result.CompanyDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="link_name" jdbcType="VARCHAR" property="linkName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="city_id" jdbcType="INTEGER" property="cityId"/>
        <result column="status" javaType="com.hello.world.enums.CompanyStatusEnum" property="status"/>
    </resultMap>

    <resultMap id="cityDtoAssocitionMap" type="com.hello.world.dto.result.CityDto">
        <id column="city_city_id" property="id"/>
        <result column="city_name" property="name"/>
    </resultMap>

    <resultMap id="companyAndCity" type="com.hello.world.dto.result.CompanyDto" extends="companyDtoMap">
        <association property="city" resultMap="cityDtoAssocitionMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, short_name, address, link_name, phone, city_id, status, created_at, updated_at
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from company
        where id = #{id,jdbcType=INTEGER}
     </delete>

    <insert id="createCompany" useGeneratedKeys="true" keyProperty="id">
        insert into company (name, short_name, address, link_name, phone, city_id)
        values (#{name}, #{shortName}, #{address}, #{linkName}, #{phone}, #{cityId})
    </insert>

    <update id="update" parameterType="com.hello.world.entity.Company">
        update company
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="searchWithName" parameterType="java.lang.String" resultMap="companyDtoMap">
        select
        <include refid="Base_Column_List"/>
        from company
        where status = 1 and name like concat(#{name}, '%')
    </select>

    <select id="searchWithCityId" parameterType="java.lang.Long" resultMap="companyDtoMap">
        select
        <include refid="Base_Column_List"/>
        from company
        where status = 1 and city_id = #{cityId}
    </select>

    <select id="searchCondition" parameterType="com.hello.world.dto.condition.SearchCompanyDto" resultMap="companyDtoMap">
        select
        <include refid="Base_Column_List"/>
        from company
        where status = 1
        <if test="name != null and name !=''">
            and name like concat(#{name}, '%')
        </if>
        <if test="cityId != null and cityId !=''">
            and city_id = #{cityId}
        </if>
    </select>

    <select id="searchCompanyAndCity" parameterType="com.hello.world.dto.condition.SearchCompanyDto" resultMap="companyAndCity">
        select company.id, company.name, company.short_name, company.address, company.link_name,
        company.phone, company.city_id, company.status,
        city.id as city_city_id, city.name as city_name
        from company
        left join city
        on company.city_id = city.id
        where company.status = 1
        <if test="name != null and name !=''">
            and company.name like concat(#{name}, '%')
        </if>
        <if test="cityId != null and cityId !=''">
            and company.city_id = #{cityId}
        </if>
    </select>

    <select id="searchCompanyAndCityWithId" resultMap="companyAndCity">
        select company.id, company.name, company.short_name, company.address, company.link_name,
        company.phone, company.city_id,company.status,
        city.id as city_city_id, city.name as city_name
        from company
        left join city
        on company.city_id = city.id
        where company.status = 1
        <if test="id != null and id !=''">
            and company.id = #{id}
        </if>
    </select>
</mapper>